<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dominando Bitcoin</title>
    <link media="all" rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
    <!-- .main -->
    <div class="main">
        <!-- .wrapper -->
        <div class="wrapper">
            <%- yield %>

            <h2>Sumário</h2>
            <ul>
                <li>
                    <a href="/prefacio">Prefácio</a>
                </li>
                <li>
                    <a href="/glossario">Glossário Rápido</a>
                </li>
                <li>
                    <a href="/capitulo01">1. Introdução</a>
                </li>
                <li>
                    <a href="/capitulo02">2. Como Bitcoin funciona</a>
                </li>
                <li>
                    <a href="/capitulo03">3. O cliente Bitcoin</a>
                </li>
                <li>
                    <a href="/capitulo04">4. Chaves, Endereços e Carteiras</a>
                </li>
                <li>
                    <a href="/capitulo05">5. Transações</a>
                </li>
                <li>
                    <a href="/capitulo06">6. A rede Bitcoin</a>
                </li>
                <li>
                    <a href="/capitulo07">7. O Blockchain</a>
                </li>
                <li>
                    <a href="/capitulo08">8. Mineração e Consenso</a>
                </li>
                <li>
                    <a href="/capitulo09">9. Correntes alternativas, Moedas e Aplicações</a>
                </li>
                <li>
                    <a href="/capitulo10">10. A Segurança do Bitcoin</a>
                </li>
                <li>
                    <a href="/apendiceA">A. Transaction Script Language Operators, Constants, and Symbols</a>
                </li>
                <li>
                    <a href="/apendiceB">B. Bitcoin Improvement Proposals</a>
                </li>
                <li>
                    <a href="/apendiceC">C. pycoin, ku, and tx</a>
                </li>
                <li>
                    <a href="/apendiceD">D. Available Commands with sx Tools</a>
                </li>
                <li>
                    <a href="/indice">Índice</a>
                </li>
            </ul>
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.main -->
</body>
</html>
